body {
    background-color:#402010 ;
    color: antiquewhite;
    padding: 2em;
}

header{
    text-align: center;
    font-size: x-large;
    
}

main{
    text-align: center;
    font-size: larger;
    
}

.beer-list{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.beer-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid wheat;
    width: 300px;
    border-radius: 8px;
    margin: 1em;
    width: 300px;
}
.beer-image{
    width:100%;
    max-height: 500px;
}

.beer-image img{
    max-width: 90%;
}

.beer-card h2 {
    font-size: medium;
    margin-bottom: 4px;

}
.beer-card p {
    margin-top: 0;
}